body{
  font-family:Arial;
  padding:20px;
  background:#f2f2f2;
}
input,select,button{
  width:100%;
  padding:10px;
  margin:5px 0;
}
button{
  background:#2ecc71;
  border:none;
  color:white;
  border-radius:5px;
}
.menu button{
  margin-bottom:10px;
}
