*{
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  margin:0;
  padding:15px;
  background:#f2f2f2;
}

.header{
  background:#ffffff;
  padding:15px;
  border-radius:10px;
  margin-bottom:15px;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.balance{
  font-size:20px;
  font-weight:bold;
}

.btn{
  display:block;
  width:100%;
  padding:12px;
  margin-top:10px;
  background:#4CAF50;
  color:white;
  border:none;
  border-radius:8px;
  font-size:16px;
}

.btn.blue{background:#2196F3;}

.card{
  background:white;
  padding:15px;
  border-radius:10px;
  margin-bottom:12px;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.card a{
  text-decoration:none;
  color:black;
  font-size:17px;
  display:block;
}
